body{
}

.nav_link
{
    display:inline-block;
    justify-content: center;
}


.top
{
    background:linear-gradient(rgb(7, 7, 44),rgb(84, 99, 166));
    padding: 2em;
    color:white;
    width:100%;
    justify-content: center;

}

.down
{
    background-color: white;
    color:blue;
    padding: 2em;
    width: 100%;
}
.spend
{
    text-align: center;
    background: linear-gradient(to left, blue);
    color: white;
    height: 2em;
}
.spend a
{
    text-decoration: none;

}
li
{
    display: inline;
}

.card
{
    color: rgb(162, 101, 219);
}

.card-blue-body
{
    color: rgb(7, 143, 234);
}
.card-orange-body
{
    color: rgb(252, 75, 10);
}
card-darkblue-body
{
    color: rgba(32, 27, 37, 0.796);
}